altgraph==0.17.4
cffi==1.17.1
cryptography==43.0.3
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PySide6==6.8.0.1
PySide6_Addons==6.8.0.1
PySide6_Essentials==6.8.0.1
pywin32-ctypes==0.2.3
qt-material==2.14
setuptools==75.6.0
shiboken6==6.8.0.1
